---
import Container from "./Container.astro";
import Link from "./Link.astro";
---

<Container class="text-caption text-center text-gray-10 py-4">
  <p>
    Coded in Astro, Preact and Tailwind by <Link
      isExternal
      href="https://frederic.ooo"
      rel="noopener noreferrer"
    >
      frederic.ooo
    </Link>. Typeset in <Link
      isExternal
      href="https://pangrampangram.com/products/neue-montreal"
      rel="noopener noreferrer"
    >
      Neue Montreal
    </Link> by type foundry Pangram Pangram.
  </p>
</Container>
