---
import Button from "./Button.astro";
import IconEmail from "./IconEmail.astro";
import IconExternal from "./IconExternal.astro";
---

<nav class="flex gap-1">
  <Button class="bg-gray-3" as="a" href="https://instagram.com/laraluzr">
    instagram <IconExternal />
  </Button>
  <Button as="div" class="bg-white">
    <IconEmail />
    <span class="text-gray-10">laraluzreis@gmail.com</span>
  </Button>
</nav>
